- name: debug to jason
  debug:
    msg: "{{ vlans['sanofi-mgmt'] }}"
  register: jason_vlan
  ignore_errors: yes
  
- name: add vlan test
  ios_config:
    backup: yes
    src: vlan.j2
    match: none