- name: debug
  debug:
    msg: "{{ vlans | to_json}}"
  register: jason_vlan
- name: debug
  debug:
    msg: "{{ vlans.101}}"
- name: debug
  debug:
    msg: "{{ vlans.101 | to_json}}"
- name: debug
  debug:
    msg: "{{ vlans.101.name | to_json}}"
- name: debug
  debug:
    msg: "{{ vlans | to_json}}"
- name: debug
  debug:
    msg: "{{ vlans | to_json}}"
- name: add vlan test
  ios_config:
    backup: yes
    src: vlan.j2
    match: none