- name: debug to jason
  debug:
    msg: "{{ vlans['101'] }}"
  register: jason_vlan
  ignore_errors: yes
- name: debug 101
  debug:
    msg: "{{ jason_vlan.101 }}"
  ignore_errors: yes
- name: debug
  debug:
    msg: "{{ vlans | from_json}}.101"
  ignore_errors: yes
# - name: debug
#   debug:
#     msg: "{{ vlans | to_json}}"
# - name: debug
#   debug:
#     msg: "{{ vlans | to_json}}"
- name: add vlan test
  ios_config:
    backup: yes
    src: vlan.j2
    match: none