{% for vlan in vlans %}
{%if vlans[vlan].switchports is defined %}
{% for swp in vlans[vlan].switchports %}
  interface {{ swp }}
  switchport {{ vlans[vlan].switchports[swp].mode }} vlan {{ vlans[item].vlan_id}}
  exit
{% endfor %}
{% endif %}
{% endfor %}