{% for vlan in range(500,551) %}
  vlan 3
    name CUST3-VRF
     private-vlan primary
     private-vlan association 13
     exit
  vlan 13
    name CUST3-CE
     private-vlan isolated
     exit
{% endfor %}